#pokemonData{
    display:none;
    gap: 2rem;
    height: 200px;
    width: 400px;
    background: #d38d7ce0;
    border-radius: 5%;
    margin-top: 2rem;
}

.pokemonData__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
